body{
    background-color: #000;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    margin-top: 3.5rem;
}


header {
    font-size: 3.5em;
    font-weight: bold;
    margin-bottom: 2rem;
}
/* 
.flower_input{
    font-size: 1.5em;
} */

.flower_image{
    padding-bottom: 3.5rem;
}

#label_flower, .input_flower{
    font-size: 1.5em;
    font-weight: bold;
}

#plant_details {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 1rem;
}

table{
    margin-top: 50px;
    width: 50%
    
}

input{
    font-size: 1.5rem;
    margin-top: 1rem;
    color: white;
    border: 1px solid white;
    background: black;
}

button{
    font-size: 1.5rem;
    margin-top: 1rem;
    color: white;
    border: 1px solid white;
    background: black;
}